<div class="container backoffice-dashboard-container">
	<div class="row">
	
	<h4>Welcome to BO Dashboard!</h4>

		<ul class="nav nav-tabs">
		  <li ng-class="{'active' : showTabs === 'Catalogue'}" ng-click="showTab('Catalogue')"><a>Add new catalogue</a></li>
		  <li ng-class="{'active' : showTabs === 'Painting'}" ng-click="showTab('Painting')"><a>Add new painting</a></li>
		  <li ng-class="{'active' : showTabs === 'Bids'}" ng-click="showTab('Bids')"><a>Bids</a></li>
		  <li><a>Menu 3</a></li>
		</ul>

		
		<div class="col-lg-12">
			<div ng-show="showTabs === 'Catalogue'">
				<form name="AddNewCatalogue">
					<div class="form-group">
					  <label for="newCatName">New Catalogue Name:</label>
					  <input type="text" class="form-control" id="newCatName" ng-model="newCatalogue.name">
					  <label for="newCatFrom">From:</label>
					  <input type="date" class="form-control" id="newCatFrom" ng-model="newCatalogue.from">
					  <label for="newCatTo">To:</label>
					  <input type="date" class="form-control" id="newCatTo" ng-model="newCatalogue.to">
					</div>
					<button class="btn btn-success" ng-click="addNewCatalogue();">Submit</button>
				</form>
			</div>
		</div>

		<div class="col-lg-12">
			<div ng-show="showTabs === 'Painting'">
				<form name="AddNewPainting">
					<div class="form-group">
						<input type='file' ng-model-instant onchange="angular.element(this).scope().imageUpload(event)" name="paintings" multiple />
						<div class="flex-container">
							<div class="flex-item" ng-repeat="step in stepsModel">
								<div class="add-pic-img-wrapper">
									<div class="remove-pic-img" ng-click="removeImg($index)"><i class="fa fa-times" aria-hidden="true"></i></div>
						        	<div class="img-wrapper" ng-click="makeMainImage($index)">
						        		<img class="thumb" ng-src="{{step.base64}}" />
						        		<div class="overlay">Make this image main</div>
						        	</div>
						        	<div>
						        		<ul>
						        			<li>name: {{step.name}}</li>
						        			<li>width: {{step.width}}</li>
						        			<li>height: {{step.height}}</li>
						        			<li>size: {{step.weight}}</li>
						        			<li>type: {{step.type}}</li>
						        			<li>main: {{step.main}}</li>
						        		</ul>
						        	</div>
						        </div>
						    </div>
    						<div class="clear"></div>
    						
						</div>
					  	<label for="newPaintingName">New Painting Name:</label>
					  	<input type="text" class="form-control" id="newPaintingName" ng-model="newPainting.name">
					  	<label for="Season">Season:</label>
						<select class="form-control" ng-model="newPainting.season" ng-options="item._id as item.name for item in allCatalogues"></select>
					  	<label for="Description">Description:</label>
					  	<textarea class="form-control" id="Description" ng-model="newPainting.description"></textarea>

					  	<label for="newPaintingStartPrice">Start Price:</label>
					  	<input type="number" class="form-control" id="newPaintingStartPrice" ng-model="newPainting.startPrice">
					  	<label for="newPaintingReservePrice">Reserve Price:</label>
					  	<input type="number" class="form-control" id="newPaintingReservePrice" ng-model="newPainting.reservePrice">
					</div>
					<button class="btn btn-success" ng-click="addNewPainting();">Submit</button>
				</form>
			</div>
		</div>

		<div class="col-lg-12">
			<div ng-show="showTabs === 'Bids'">
				<input type="text" class="form-control pull-left" ng-model="bids.paintingId" placeholder="Painting Id"><button class="btn btn-default" ng-click="getAllBids(bids.paintingId)">Get Bids</button>
				<div class="divTable">
					<div class="divTableBody">
						<div class="divTableRow">
							<div class="divTableCell">Bid</div>
							<div class="divTableCell">Date</div>
							<div class="divTableCell">User Name</div>
							<div class="divTableCell">User Id</div>
						</div>
						<div class="divTableRow" ng-repeat="bid in bidsById">
							<div class="divTableCell">{{bid.bid}}</div>
							<div class="divTableCell">{{bid.date | date:'dd-MM-yyyy HH:mm:ss Z'}}</div>
							<div class="divTableCell">{{bid.userName}}</div>
							<div class="divTableCell">{{bid.userId}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>