<div class="main-wrapper">
	<header>
		<div class="header-logo-wrapper">
			<div class="header-logo">Auction</div>
		</div>
		<div class="nav-login-wrapper" ng-click="home.showLoginWindow()" ng-show="!home.user">Login</div>
		<div class="nav-login-wrapper" ng-show="home.user" ng-mouseover="showUserMenu = true" ng-mouseleave="showUserMenu = false">
			<span>{{home.user.name}}</span>
			<div class="nav-login-menu" ng-show="showUserMenu">
				<ul>
					<li>My Account</li>
					<li ng-click="home.logout()">Logout</li>
				</ul>
			</div>
		</div>
		<div class="nav-seasons-wrapper">
			<div class="dropdown">
			  <button class="btn btn-primary home-season-dd dropdown-toggle" type="button" data-toggle="dropdown">{{home.currentSeason.name}}
			  <span class="caret"></span></button>
			  <ul class="dropdown-menu">
			    <li ng-repeat="season in home.seasons"><a ng-click="home.changeSeason(season);">{{season.name}}</a></li>
			  </ul>
			</div>
		</div>
	</header>

	<div class="home-paintings-details">
		<div class="home-paintings-details-name">{{home.hovered.name}}</div>
		<div class="home-paintings-details-current-price">$ {{home.hovered.price}}</div>
		<div class="home-paintings-details-reserve">Reserve price {{home.hovered.reservePrice}}</div>
		<div class="home-paintings-details-leader">Leader: <span ng-show="home.hovered.leader">{{home.hovered.leader}}</span> <span ng-show="!home.hovered.leader">You can be first</span></div>
	</div>

	<div class="home-paintings-slider">
		<div class="home-pics-carousel">
			<div class="item" ng-repeat="pic in home.seasonPaintings" ng-click="home.openPainting($index)" ng-mouseover="home.hoverPainting(pic._id, pic.name)"><img ng-src="{{img.path}}" ng-repeat="img in pic.pics" ng-if="img.main"></div>
		</div>
	</div>
</div>

<login ng-show="home.showLogin" class="login-modal"></login>