<!-- <div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<h2 class="text-center">Season Summer 2016</h2>
		</div>
	</div>
</div>
 -->
<!-- <div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div class="items-wrapper">
        		<ul class="text-center">
        			<li ng-repeat="pic in allproducts"><img ng-click="navToSlide($index)" src="{{pic.url}}" alt="{{pic.name}}"></li>
        		</ul>
        	</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6">
			<div class="slide">
	        	<div ng-click="navSlide('prev')">prev</div>
	        	<div ng-click="navSlide('next')">next</div>
	        	<div class="slide-wrapper"><img ng-click="navSlide('next')" src="{{allproducts[currentSlide].url}}" alt="allproducts[currentSlide].name"></div>
	        	<h1>{{allproducts[currentSlide].name}}</h1>
	        	<div>{{allproducts[currentSlide].description}}</div>
        	</div>
		</div>
		<div class="col-sm-6">
			<div>Current price: <strong>{{allproducts[currentSlide].currentPrice}}</strong> <strong>{{allproducts[currentSlide].currency}}</strong></div>
			<div>Make a bid <input style="width:75px;" ng-model="addbid" type="number"><button ng-click="addBid(addbid, currentSlide)">add</button></div>
			<div>Reserve price is <strong>{{allproducts[currentSlide].reservePriceReach}}</strong></div>
			<div ng-if="allproducts[currentSlide].bids !== 0">Leader is {{allproducts[currentSlide].leader}}</div>
			<div ng-show="allproducts[currentSlide].bids !== 0">Bids {{allproducts[currentSlide].bids}}</div>
			<div ng-show="allproducts[currentSlide].bids === 0">There were no bids. Be first!</div>
		</div>
	</div>
</div> -->
<!-- <div class="container-fluid">   
	<div class="dropdown">
	  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{home.currentSeason.name}}
	  <span class="caret"></span></button>
	  <ul class="dropdown-menu">
	    <li ng-repeat="season in home.seasons"><a ng-click="home.changeSeason(season);">{{season.name}}</a></li>
	  </ul>
	</div>
</div>
 -->
<!-- <div class="container-fluid">
	<div ng-repeat="pic in home.seasonPaintings" ng-click="home.openPainting($index)">
		<div>name: {{pic.name}}</div>
		<div>desc: {{pic.description}}</div>
		<div  >
			<img ng-src="{{img.path}}" ng-repeat="img in pic.pics"  alt="" width="200" ng-if="img.main" >
		</div>
	</div>
</div>
 -->
<div class="main-wrapper">
	<header>
		<div class="header-logo-wrapper">
			<div class="header-logo">Auction</div>
		</div>
		<div class="nav-login-wrapper" ng-click="home.showLoginWindow()" ng-show="!home.user">Login</div>
		<div class="nav-login-wrapper" ng-show="home.user" ng-mouseover="showUserMenu = true" ng-mouseleave="showUserMenu = false">
			<span>{{home.user.name}}</span>
			<div class="nav-login-menu" ng-show="showUserMenu">
				<ul>
					<li>My Account</li>
					<li ng-click="home.logout()">Logout</li>
				</ul>
			</div>
		</div>
		<div class="nav-seasons-wrapper">
			<div class="dropdown">
			  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{home.currentSeason.name}}
			  <span class="caret"></span></button>
			  <ul class="dropdown-menu">
			    <li ng-repeat="season in home.seasons"><a ng-click="home.changeSeason(season);">{{season.name}}</a></li>
			  </ul>
			</div>
		</div>
	</header>

	<div class="home-paintings-details">
		<div class="home-paintings-details-name">{{home.hovered.name}}</div>
		<div class="home-paintings-details-current-price">$ {{home.hovered.price}}</div>
		<div class="home-paintings-details-reserve">Reserve Price: {{home.hovered.reservePrice}}</div>
		<div class="home-paintings-details-leader">Leader: {{home.hovered.leader}}</div>
	</div>

	<div class="home-paintings-slider">
		<div class="home-pics-carousel">
			<div class="item" ng-repeat="pic in home.seasonPaintings" ng-click="home.openPainting($index)"><img ng-src="{{img.path}}" ng-repeat="img in pic.pics" ng-if="img.main" ></div>
		</div>
	</div>
</div>

<login ng-show="home.showLogin" class="login-modal"></login>