<div class="container">
	<form>
		<label for="login_email">Email: <input id="login_email" name="email" ng-model="userLogin.email" type="text"></label>
		<label for="login_password">Password: <input id="login_password" name="password" ng-model="userLogin.password" type="text"></label>
		<button ng-click="login()">Login</button>
	</form>

	<div>New user? <button ng-click="redirectToReg();">registration</button></div>
	
	<button ng-click="getTok()">cookieTest</button>

	<button ng-click="tokenTest()">Token test</button>

</div>