<div class="container-fluid">
	<div>Name: {{pntg.pic.name}}</div>
	<div>Description: {{pntg.pic.description}}</div>
	<div>Current Price: <strong>{{pntg.currentPrice}}</strong></div>
	<div>Start Price: {{pntg.price.startPrice}}</div>
	<div>Reserve Price: {{pntg.price.reservePrice}}</div>
	<div>Make a bid: <input type="number" ng-model="pntg.newBid"><button ng-click="pntg.setNewBid()">set</button></div>
	<div>Leader: {{pntg.leader}}</div>
	<div>Previous: {{pntg.previous}}</div>
	<div ng-repeat="img in pntg.pic.pics">
		<img ng-src="{{img.path}}"  alt="" width="200">
	</div>
</div>

<p>
BIDS:

id | bid | userId | userName | date

</p>